<div class="max-w-4xl mx-auto mt-10 px-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">日記一覧</h1>
    <%= link_to "＋ 新しい日記を作成", new_diary_entry_path,
                class: "bg-blue-500 text-white font-semibold px-4 py-2 rounded hover:bg-blue-600 transition-colors" %>
  </div>

  <div class="flex gap-2 mb-4">
    <% @tags.each do |tag| %>
      <% is_active = params[:tag_id]&.to_i == tag.id %>
      <%= link_to tag.name,
                  is_active ? diary_entries_path : diary_entries_path(tag_id: tag.id),
                  class: "px-3 py-1 rounded-full text-sm font-medium transition-colors #{is_active ? 'bg-blue-500 text-white' : 'bg-blue-100 text-blue-800 hover:bg-blue'}"
                  %>
    <% end %>
  </div>

  <% if @diary_entries.any? %>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <% @diary_entries.each do |entry| %>
        <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
          <h2 class="text-xl font-semibold mb-2 truncate"><%= link_to entry.title, diary_entry_path(entry) %></h2>
          <p class="text-gray-700 text-sm mb-3">
            <%= truncate(entry.content, length: 60) %>
          </p>
          <p class="text-left text-sm text-gray-500"><%= entry.user.name %></p>
          <div class="flex space-x-4 text-sm text-gray-500 ">
            <span>コメント数</span>
            <span><%= entry.comments.size %></span>
          </div>
          <div class="flex justify-between items-center text-sm text-gray-500">
            <span><%= entry.created_at.strftime("%Y/%m/%d") %></span>
            <%= link_to "削除する",
                        diary_entry_path(entry),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: "本当に削除しますか？"
                        },
                        class: "text-blue-500 hover:underline" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-600">まだ日記がありません。</p>
  <% end %>
  <%== @pagy.series_nav %>
</div>
